<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Study Diary
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" color="primary" routerLink="/event-create">
    Create a New Study Note
  </ion-button>
  <ion-button expand="block" color="primary" routerLink="/event-list">
    See your Study Notes
  </ion-button>

</ion-content>
